#action{
    margin-bottom: calc($spacing-xxl * 2);
    .content{
        display: flex;
        gap: $spacing-xxl;
        padding: $spacing;
        height: fit-content;
        border-radius: $spacing;
        box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
        position: relative;
        background: white;
        h4{
            @include underline();
            z-index: 1;
        }
        &::before{
            content: '';
            position: absolute;
            bottom: -$spacing-xs;
            right: -$spacing-xs;
            height: 50px;
            width: 70px;
            border-radius: 4px 4px $spacing-md 4px;
            background: var(--green-apple);
            box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
            z-index: -1;
        }
        &::after{
            content: '';
            position: absolute;
            top: -$spacing-xs;
            left: -$spacing-xs;
            height: 50px;
            width: 70px;
            border-radius: $spacing-md 4px 4px 4px;
            background: var(--canary);
            box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
            z-index: -1;
        }
    }
    .illu{
        h5{
            margin: 0 auto $spacing;
            width: fit-content;
            color: var(--rich-black);
            @include underline();
            z-index: 1;
        }
    }
    .mada{
        width: 275px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .list{
        display: grid;
        grid-template-columns: repeat(auto-fit, 49%);
        gap: $spacing;
        margin: $spacing 0 0 $spacing;
        span{
            font-weight: 600;
        }
        p{
            margin: 0 0 0 $spacing-xs;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: -$spacing-xs;
                transform: translateY(-50%);
                width: 3px;
                height: 90%;
                background: color-mix(in srgb, var(--rich-black), transparent 75%);
            }
        }
    }
    .navigation{
        display: flex;
        // justify-content: space-evenly;
        gap: $spacing;
        border-radius: $spacing;
        border: 2px solid color-mix(in srgb, var(--rich-black), transparent 75%);
        width: fit-content;
        button{
            border: none;
            cursor: pointer;
            border-radius: $spacing;
        }
        .sepa{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 3px;
            background: color-mix(in srgb, var(--rich-black), transparent 75%);
            height: 90%;
        }
        >*:not(:nth-child(even)){
            width: 125px;
        }
        :first-child{
            padding-left: $spacing;
        }
        :last-child{
            padding-right: $spacing;
        }
        .pagination{
            display: grid;
            place-content: center;
        }
        button{
            font-weight: 600;
            font-size: $font-size;
            text-transform: uppercase;
            background: none;
        }
    }
}