#effect{
    display: flex;
    margin-bottom: calc($spacing-xxl * 2);
    gap: $spacing-xxl;
    .image{
        height: 200px;
        aspect-ratio: 2/1;
        img{
            width: 100%;
            height: 100%;
            border-radius: $spacing;
            object-fit: cover;
            object-position: left center;
        }
    }
    .text{
        h4{
            margin-bottom: $spacing-xs;
        }
        div{
            padding: 0 0 0 $spacing;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 2px;
                width: 3px;
                height: 100%;
                background: color-mix(in srgb, var(--rich-black), transparent 70%);
            }
            &:first-of-type{
                margin-bottom: $spacing;
            }
            p{
                max-width: 70ch;
            }
        }
    }
}