#effect{
    display: flex;
    justify-content: center;
    margin-bottom: calc($spacing-xxl * 2);
    gap: $spacing-xxl;
    .image{
        height: 200px;
        aspect-ratio: 2/1;
        background: url('/media/strategy/003.webp') center/cover no-repeat;
        border-radius: $spacing;
        box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
    }
    .text{
        h4{
            margin-bottom: $spacing-xs;
        }
        div{
            padding: 0 0 0 $spacing;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 2px;
                width: 3px;
                height: 100%;
                background: color-mix(in srgb, var(--rich-black), transparent 70%);
            }
            &:first-of-type{
                margin-bottom: $spacing;
            }
            p{
                max-width: 70ch;
            }
        }
    }
}