#orientation{
    margin-bottom: calc($spacing-xxl * 2);
    h4{
        margin: 0 auto $spacing;
    }
    h3{
        display: none;
    }
    .list{
        display: flex;
        justify-content: space-evenly;
        >div{
            width: 300px;
            background: rgba(255, 255, 255, 0.5);
            padding: $spacing;
            border-radius: $spacing;
            box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
            position: relative;
            h3{
                position: absolute;
                bottom: $spacing;
                right: $spacing;
                opacity: .1;
                z-index: -1;
            }
        }
    }
}