#strathero{
    background: url('/media/strategy/001.webp') center/cover no-repeat;
    height: 400px;
    display: grid;
    place-content: center;
    border-radius: $spacing;
    margin: $spacing $spacing $spacing-xxl;
    border-radius: $spacing;
    box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
    h2{
        color: var(--white-smoke);
        text-shadow: #000 0px 5px 10px, #000 0px 5px 10px;
    }
}