#goal{
    margin-top: calc($spacing-xxl * 2);
    margin-bottom: calc($spacing-xxl * 2);
    height: max-content;
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacing-xl;
        @media (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr;
        }
        @media (max-width: $breakpoint-xs) {
            padding: 0 $spacing-md;
            gap: calc($spacing-xl * 2);
        }
        >div{
            border-radius: $spacing;
            padding: $spacing;
            box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
            position: relative;
            background: white;
            h4{
                @include underline();
                z-index: 1;
            }
            &::before{
                content: '';
                position: absolute;
                bottom: -$spacing-xs;
                right: -$spacing-xs;
                height: 50px;
                width: 70px;
                border-radius: 4px 4px $spacing-md 4px;
                background: var(--green-apple);
                box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
                z-index: -1;
            }
            &::after{
                content: '';
                position: absolute;
                top: -$spacing-xs;
                left: -$spacing-xs;
                height: 50px;
                width: 70px;
                border-radius: $spacing-md 4px 4px 4px;
                background: var(--canary);
                box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
                z-index: -1;
            }
        }
    }
}