#map{
    display: flex;
    gap: $spacing-xxl;
    justify-content: center;
    margin-bottom: calc($spacing-xxl * 2);
    .illu{
        text-align: center;
    }
    .mada{
        width: 275px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}