#process{
    display: grid;
    grid-template-columns: repeat(auto-fit, 45%);
    justify-content: space-evenly;
    gap: $spacing-lg;
    margin-bottom: calc($spacing-xxl * 2);
    @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
    }
    @media (max-width: $breakpoint-xs) {
        padding: 0 $spacing-md;
    }
    .images{
        position: relative;
        height: max-content;
    }
    button{
        position: absolute;
        opacity: 0;
    }
    .wrap{
        // filter: brightness(80%);
        height: 250px;
        // overflow: hidden;
        position: relative;
        border-radius: $spacing;
        box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% + $spacing-md);
            height: calc(100% + $spacing-md);
            border-radius: $spacing-md;
            z-index: -1;
            background: var(--green-apple);
            box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
        }
    }
    .pagination{
        display: flex;
        position: absolute;
        bottom: $spacing-xs;
        left: 50%;
        transform: translateX(-50%);
        gap: $spacing-xs;
        z-index: 9;
        opacity: 0;
        span{
            height: 10px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: var(--canary);
        }
    }
    h5{
        width: fit-content;
    }
    p{
        margin: $spacing-xs 0 0;
        max-width: 50ch;
    }
}

.wrap.slide-1{
    background: url('/media/home/finality/001.webp') center/cover no-repeat;
}