#swiper {
    margin-top: calc($spacing-xxl * 2);
    margin-bottom: calc($spacing-xxl * 2);
    // height: 100vh;
    display: grid;
    place-content: center;

    .swipe {
        display: flex;
        min-height: 450px;
        gap: calc($spacing-xxl * 1.5);
        align-items: center;
        position: relative;
        justify-content: space-evenly;
        padding-bottom: $spacing-xxl;

        @media (max-width: $breakpoint-xl) {
            // background: red;
            margin: 0 $spacing-xxl;
        }

        @media (max-width: $breakpoint-lg) {
            flex-direction: column;
            margin: 0 $spacing;
            overflow: hidden;
            gap: $spacing;

            .illu {
                width: 100%;
                order: 1;
            }

            .text {
                max-width: none;
                order: 2;
            }

            .pagination {
                left: 50%;
                transform: translate(-50%);
            }
        }

        @media (max-width: $breakpoint-md) {
            gap: 0;

            .illu {
                height: 250px;
            }

            p {
                font-size: $font-size;
            }
        }

        @media (max-width: $breakpoint-sm) {
            height: 500px;

            .illu {
                height: 150px;
            }

            h3 {
                font-size: $font-size-lg;
            }
        }
    }

    @media (max-width: $breakpoint-lg) {
        place-content: initial;
    }

    .illu {
        width: 600px;
        height: 375px;
        border-radius: $spacing;
        // background: url('/media/home/finality/001.webp') center/cover no-repeat;
        box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
        animation: come-in .5s ease-in-out forwards;
    }

    .text {
        max-width: 600px;

        :nth-child(1) {
            opacity: 0;
            animation: come-in .5s ease-in-out forwards;
        }

        :nth-child(2) {
            opacity: 0;
            animation: come-in .5s ease-in-out .05s forwards;
            // animation: ;
        }

        :nth-child(3) {
            opacity: 0;
            animation: come-in .5s ease-in-out .10s forwards;
            // animation: ;
        }
    }

    h3 {
        text-shadow: #0000004b 0px 5px 10px, #00000030 0px 5px 10px;
    }

    h4 {
        text-shadow: #0000002b 0px 5px 10px, #00000020 0px 5px 10px;
    }

    .pagination {
        position: absolute;
        left: 15%;
        bottom: $spacing-xs;
        display: flex;
        justify-content: center;
        gap: $spacing;
        align-self: flex-end;

        span {
            height: 10px;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background: white;
            cursor: pointer;
            position: relative;
            transition: all .25s ease-in-out;
            box-shadow: 0px 0px 5px #0000004b, 0px 0px rgba(0, 0, 0, 0.308) #000;

            &:hover::after {
                transform: translate(-3px, -50%) scale(1.1);
            }

            &:hover.active::after {
                transform: translate(-3px, -50%) scale(1.1);
            }

            &.active {
                width: 20px;
                border-radius: 5px;
                // background: red;
            }

            &.active::after {
                position: absolute;
                content: '';
                top: 50%;
                bottom: 50%;
                transform: translate(-3px, -50%);
                height: 14px;
                width: 24px;
                border-radius: 8px;
                border: 1px solid white;
                box-shadow: 0px 0px 8px #00000088;
                transition: transform .25s ease-in-out;
            }

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                bottom: 50%;
                transform: translate(-3px, -50%);
                height: 14px;
                border-radius: 50%;
                aspect-ratio: 1/1;
                border: 1px solid white;
                box-shadow: 0px 0px 12px #00000088;
                transition: transform .25s ease-in-out;
            }
        }
    }
}

// Big font size
[data-step] .text {
    p {
        font-size: $font-size-md;
    }
}

// Bgs for each swiper step
[data-step="1"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/001.webp') center/cover no-repeat;
}

[data-step="2"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/002.webp') center/cover no-repeat;
}

[data-step="3"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/003.webp') center/cover no-repeat;
}

[data-step="4"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/004.webp') center/cover no-repeat;
}

[data-step="5"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/005.webp') center/cover no-repeat;
}

[data-step="6"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/006.webp') center/cover no-repeat;
}

[data-step="7"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/007.webp') center/cover no-repeat;
}

[data-step="8"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/008.webp') center/cover no-repeat;
}

[data-step="9"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/008.webp') center/cover no-repeat;
}

[data-step="10"] .illu {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/media/swiper/008.webp') center/cover no-repeat;
}

[data-step="8"] .text {
    h4 {
        font-weight: 400;
        font-size: $font-size-md;
        text-shadow: none;
        text-align: justify;

        @media (max-width: $breakpoint-md) {
            font-size: $font-size;
        }
    }
}

@keyframes come-in {
    from {
        transform: translateX(10%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}