#way {
    margin-bottom: calc($spacing-xxl * 2);

    .content {
        display: flex;
        gap: $spacing-xl;

        //boite
        border-radius: $spacing;
        padding: $spacing;
        box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
        position: relative;
        background: white;

        &::before {
            content: '';
            position: absolute;
            bottom: -$spacing-xs;
            right: -$spacing-xs;
            height: 50px;
            width: 70px;
            border-radius: 4px 4px $spacing-md 4px;
            background: var(--green-apple);
            box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
            z-index: -2;
        }

        &::after {
            content: '';
            position: absolute;
            top: -$spacing-xs;
            left: -$spacing-xs;
            height: 50px;
            width: 70px;
            border-radius: $spacing-md 4px 4px 4px;
            background: var(--canary);
            box-shadow: 0 4px 6px #0000001f, 0 5px 15px #00000023;
            z-index: -2;
        }

        .titles{
            display: grid;
            gap: $spacing-xs;
            h5{
                color: var(--rich-black);
                width: fit-content;
                @include underline();
                z-index: 1;
            }
            p{
                font-weight: 700;
                color: var(--azul);
            }
        }
        .separation{
            width: 3px;
            background: color-mix(in srgb, var(--rich-black), transparent 80%);
        }
        p {
            max-width: 70ch;
            position: relative;
            align-self: center;
        }
    }
}